@import "tailwindcss";

@theme {
    --color-primary: #CEE5D0;
    --color-secondary: #F3F0D7;
    --color-accent: #E0C097;
    --color-highlight: #FF7878;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}